
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", "sans-serif";
}



:root{
    --text-color: #ffffff;
    --icon-color: #ACACBE;
    --icont-hover-bg: #5b5e71;
    --placeholder-color: #cccccc;
    --outgoing-chat-bg: #343542;
    --incoming-chat-bg: #444654;
    --outgoing-chat-border: #343542;
    --incoming-chat-border: #444654;

}

.light-mode{
    --text-color: #343541;
    --icon-color: #a9a9bc;
    --icont-hover-bg: #f1f1f3;
    --placeholder-color: #9f9f9f;
    --outgoing-chat-bg: #FFFFFF;
    --incoming-chat-bg: #F7F8F8;
    --outgoing-chat-border: #FFFFFF;
    --incoming-chat-border: #D9D9E3;

}

html,body{
    width: 100%;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    padding-bottom: 150px;
    overflow-y: auto;
    background-color: var(--outgoing-chat-bg);
    color: var(--text-color);

}

/* text area scroll style */
textarea::-webkit-scrollbar {
    width: 10px;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* style */

.chat{
    padding: 25px 10px;
    display: flex;
    justify-content: center;
}

.chat.outgoing{
    background: var(--outgoing-chat-bg);
    border: 1px solid var(--outgoing-chat-border);
}

.chat.incoming{
    background: var(--incoming-chat-bg);
    border: 1px solid var(--incoming-chat-border);
}

.chat-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    width: 100%;
}

.chat .chat-content span{
    font-size: 1.3rem;
    color: var(--icon-color);
    /* cursor: pointer; */
    visibility: hidden;
}

.chat:hover .chat-content span{
    visibility: visible;
}

.chat-details{
    display: flex;
    align-items: center;
}

.chat .chat-details img{
    width: 35px;
    height: 35px;
    border-radius: 2px;
    background-size: cover;
    align-items: self-start;
}

.chat-details p{
    white-space: pre-wrap;
    font-size: 1.05rem;
    padding: 0 50px 0 25px;
}

.ri-file-copy-line{
    user-select: none;
    cursor: pointer;
}

.typing-animation{
    display: inline-flex;
    padding-left: 25px;
}

.typing-animation .typing-dot{
    width: 7px;
    height: 7px;
    opacity: 0.7;
    margin: 0 3px;
    border-radius: 50%;
    background: var(--text-color);
    animation: dotAnimation 1.5s var(--delay)  ease-in-out infinite;
}


@keyframes dotAnimation {
    0%, 44% {
        transform: translateY(0);
    }
    22%{
        opacity: 0.4;
        transform: translateY(-6px);
    }
    44%{
        opacity: 0.2;
    }
}

/* typing style */

.typing-container{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 10px;
    background: var(--outgoing-chat-bg);
    border: 1px solid var(--incoming-chat-border);
    display: flex;
    justify-content: center;
}

.typing-container .typing-content{
    max-width: 950px;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.typing-content .typing-textarea{
    display: flex;
    width: 100%;
    position: relative;
}

.typing-textarea textarea{
    width: 100%;
    height: 55px;
    border: none;
    resize: none;
    background: var(--incoming-chat-bg);
    color: var(--text-color);
    font-size: 1rem;
    border-radius: 4px;
    padding: 15px 45px 15px 20px;
}

.typing-textarea i{
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
}

.typing-textarea textarea:valid ~ i{
    visibility: visible;
}

.typing-textarea textarea::placeholder{
    color: var(--placeholder-color);
}
.typing-content i{
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-color);
    cursor: pointer;
}

.typing-control{
    display: flex;
}

.typing-control i{
    cursor: pointer;
    margin-left: 7px;
    font-size: 1.4rem;
    border-radius: 4px;
    background: var(--incoming-chat-bg);
    border: 1px solid var(--incoming-chat-border);
}