*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    font-size: 35px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

input{
    margin-left: 1rem;
    width: 270px;
    height: 40px;
    border-radius: 4px;
    font-size: 20px;
}

span{
    width: 270px;
    height: 40px;
    /* margin-left: 1rem; */
    font-size: 20px;
    vertical-align:middle;
}

.ProductName{
    margin-left: 1.2rem;
}

.ProductDate{
    margin-left: 1.5rem;
}

button{
    margin-left: 2rem;
    padding: 15px ;
    border: none;
    text-align: center;
    font-weight: bold;
    background-color: brown;
    color: white;
    border-radius: 6px;
}

.addButton{
    border: none;
    margin-left: 2.8rem;
    padding: 15px 21px;
    background-color: rgb(51, 176, 51);
    color: white;
}

button:hover{
    background-color: darkred;
    color: gray;
}

.addButton:hover{
    background-color: darkgreen;
    color: gray;
}