*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background: linear-gradient(to left, #b754d2e6, #faaca8); 
}

h1{
    font-size: 55px;
    margin: 1.2rem;
}
.container{
    height: 70vh;
    margin: auto;
    color: saddlebrown;
}

.game-box{
    width: 380px;
    height: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: auto;
}

.box{
    width: 120px;
    height: 120px;
    background-color: white;
    color: rgb(186, 92, 92);
    font-size: 100px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 4px rgba(81, 70, 70, 0.3),
    0px 0px 4px 4px inset rgba(81, 70, 70, 0.2);
    cursor: pointer;
}

#reset-btn{
    margin: 2rem;
    padding: 1rem;
    font-size: 20px;
    background-color: rgba(210, 122, 122, 0.692);
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/* .msg-container{
    height: 120px;
} */

#msg{
    color: rgba(255, 0, 0, 0.555);
    text-shadow: 0px 0px 2px rgba(18, 2, 2, 0.275);
    font-size: 40px;
    margin: 2rem 0;
    font-weight: 900;
}

.game-info{
    padding: 1rem;
    font-size: 24px;
    background-color: rgba(210, 122, 122, 0.692);
    color: white;
    border-radius: 10px;
    border: none;
    margin: 1rem 0;
}

button{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.hide{
    display: none;
}

.win{
    background-color: green;
    color: white;
}

p{
    margin: 4rem 0;
}

@media (max-width: 480px) {
    .box{
        width: 320px;
        height: 320px;
        row-gap: 1px;
    }
    .box{
        width: 90px;
        height: 90px;
        font-size: 72px;
    }
    #reset-btn{
        margin: 1.6rem;
        padding: 0.8rem;
        font-size: 17px;
    }
}
@media (max-width: 420px) {
    .game-box{
        width: 260px;
        height: 260px;
        row-gap: 1px;
    }
    
    .box{
        width: 60px;
        height: 60px;
        font-size: 50px;
    }
    h1{
        font-size: 35px;
        margin: 1.2rem;
    }
    #reset-btn{
        margin: 1.6rem;
        padding: 0.8rem;
        font-size: 17px;
    }
}
/* .container{
    width: 650px;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.game{
    width: 60vmin;
    height: 60vmin;
    display: flex;
    gap: 1.5vmin;
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.box{
    width: 18vmin;
    height: 18vmin;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 80px;
    color: white;
    border: none;
} */